/*# sourceMappingURL=loadind.css.map */
/* 動畫區==================== */
@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@keyframes pulse {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.3;
    }

    100% {
        opacity: 1;
    }

}

@keyframes glitch {
    0% {
        text-shadow: 0 0 transparent;
        transform: translate(0, 0);
    }

    10% {
        text-shadow: 4px 0 #ff0000, -4px 0 #00ffff;
        transform: translate(-2px, 2px);
    }

    20% {
        text-shadow: -4px 0 #ff0000, 4px 0 #00ffff;
        transform: translate(2px, -2px);
    }

    30%,
    100% {
        text-shadow: 0 0 transparent;
        transform: translate(0, 0);
    }

}

@keyframes counter {
    from {
        --num: 0;
    }

    to {
        --num: 100;
    }
}

@property --num {
    syntax: '<integer>';
    initial-value: 0;
    inherits: false;
}

/* ========================= */
body {
    background-color: black;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.Loading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0
}

.Loading::before {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    background: linear-gradient(to bottom,
            rgba(18, 16, 16, 0) 50%,
            rgba(0, 0, 0, 0.25) 50%);
    background-size: 100% 4px;
    pointer-events: none;
    z-index: 10;
}

.android {
    width: 170px;
    height: 170px;

    border-radius: 50%;
    border: #2dfcff 4px solid;
    border-top-color: transparent;
    border-right-color: transparent;

    background-color: transparent;
    box-shadow: 0 0 15px #2dfcff;

    animation: spin 1s linear infinite;

    display: flex;
    justify-content: center;
    align-items: center;
}

.core {
    width: 85%;
    height: 85%;

    border: 2px solid rgba(255, 255, 255, 0.8);
    border-radius: 50%;
    border-bottom-color: transparent;
    border-left-color: transparent;

    background-color: transparent;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.8);
    opacity: 0.5;

    animation: spin 0.8s linear infinite reverse;
}

.loading-text {
    color: #2dfcff;
    margin-top: 30px;
    font-family: monospace;
    font-size: 36px;
    letter-spacing: 4px;
    font-weight: bold;
    animation: pulse 1.5s ease-in-out infinite, glitch 2s linear infinite;
}

.data-ring {
    position: absolute;
    width: 120%;
    height: 120%;
    border-radius: 50%;
    border: 2px dashed #87dbdd;
    opacity: 0.5;

    animation: spin 5s linear infinite;
}

.percent {
    font-size: 30px;
    animation:
        counter 20s ease-in-out forwards,
        pulse 1.5s ease-in-out;
    counter-reset: num var(--num);

}

.percent::after {
    content: counter(num) "%";
}